/* Error: expected "{".
 *    ,
 * 34 |   --font-size-400: 2rem;
 *    |                        ^
 *    '
 *   base\_variables.scss 34:24  @forward
 *   base\_index.scss 3:1        @forward
 *   main.scss 1:1               root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 34 \2502    --font-size-400: 2rem;\d\a    \2502                         ^\a    \2575 \a   base\\_variables.scss 34:24  @forward\a   base\\_index.scss 3:1        @forward\a   main.scss 1:1               root stylesheet';
}
