*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
picture {
  display: block;
  max-width: 100%;
}

button,
input {
  font: inherit;
}

html {
  width: 100%;
  overflow-x: hidden;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-ubuntu);
  background-color: var(--alabaster);
  color: var(--marine-blue);
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
  position: relative;
}

@media (min-width: 48em) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.flow > * + * {
  margin-top: var(--flow-space);
}

.primary-heading {
  font-size: var(--font-size-400);
}

.font-size-400 {
  font-size: var(--font-size-400);
}

.font-size-300 {
  font-size: var(--font-size-300);
}

.font-size-200 {
  font-size: var(--font-size-200);
}

.font-size-100 {
  font-size: var(--font-size-100);
}

.background-white {
  background-color: var(--white);
}

.text-gray {
  color: var(--cool-gray);
}

.text-white {
  color: var(--white);
}

:root {
  --marine-blue: hsl(213, 96%, 18%);
  --purplish-blue: hsl(243, 100%, 62%);
  --pastel-blue: hsl(228, 100%, 84%);
  --light-blue: hsl(206, 94%, 87%);
  --strawberry-red: hsl(354, 84%, 57%);
  --cool-gray: hsl(231, 11%, 63%);
  --light-gray: hsl(229, 24%, 87%);
  --magnolia: hsl(217, 100%, 97%);
  --alabaster: hsl(217, 100%, 97%);
  --white: hsl(0, 0%, 100%);
  --font-ubuntu: "Ubuntu", sans-serif;
  --font-size-400: 1.5rem;
  --font-size-300: 1rem;
  --font-size-200: 0.875rem;
  --font-size-100: 0.75rem;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --flow-space: 1rem;
  --gap: 1rem;
}

@media (min-width: 48em) {
  :root {
    --font-size-400: 2rem;
    --font-size-200: 1rem;
    --font-size-100: 1rem;
  }
}
.btn {
  display: block;
  padding: 0.5rem 1rem;
  white-space: nowrap;
  cursor: pointer;
  border: none;
  border-radius: 0.25rem;
}

.btn--dark {
  background-color: var(--marine-blue);
  color: var(--white);
}

.container {
  max-width: 70rem;
  margin: 0 auto;
  position: relative;
}

.flex {
  display: flex;
}

.flex--gap {
  gap: var(--gap);
}

.flex--center {
  justify-content: center;
  align-items: center;
}

.flex--justify-space-between {
  justify-content: space-between;
}

.flex--justify-center {
  justify-content: center;
}

.flex--align-center {
  align-items: center;
}

.flex--column {
  flex-direction: column;
}

.grid {
  display: grid;
}

.grid--items-center {
  place-items: center;
}

.grid--content-center {
  place-content: center;
}

.grid--gap {
  gap: var(--gap);
}

.grid--2-columns {
  grid-template-columns: 1fr;
}

@media (min-width: 48em) {
  .grid--2-columns {
    grid-template-columns: 30fr 70fr;
  }
}
.nav {
  background-image: url("/images/bg-sidebar-mobile.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 18rem;
  padding: 3rem 0;
}
.nav__list {
  justify-content: center;
  gap: 1.5rem;
}
.nav__item {
  list-style: none;
}
.nav__step-number {
  border: 2px solid var(--white);
  color: var(--white);
  font-weight: var(--font-weight-bold);
  border-radius: 50%;
  width: 2.4rem;
  height: 2.4rem;
}
.nav__step-number.active {
  background-color: var(--light-blue);
  border-color: var(--light-blue);
  color: var(--marine-blue);
}
.nav__step {
  font-size: var(--font-size-100);
  color: var(--pastel-blue);
}
.nav__description {
  color: var(--white);
  font-size: var(--font-size-200);
}
.nav__content {
  display: none;
  text-transform: uppercase;
}
@media (min-width: 48em) {
  .nav {
    height: 100%;
    background-image: url("/images/bg-sidebar-desktop.svg");
  }
  .nav__list {
    flex-direction: column;
    align-items: start;
  }
  .nav__content {
    display: block;
  }
}

.main {
  background-color: var(--alabaster);
}
.main__body {
  background-color: var(--white);
  width: 95%;
  transform: translateY(-8rem);
  padding: 2rem 1rem;
  border-radius: 0.5rem;
  margin-inline: auto;
}
.main__footer {
  background-color: var(--white);
  padding: 1rem 0.75rem;
}
.main__btn {
  margin-left: auto;
}
@media (min-width: 32em) {
  .main__body {
    width: 85%;
  }
}
@media (min-width: 48em) {
  .main {
    position: static;
    height: 100%;
  }
  .main__body {
    transform: translateY(0);
    width: 100%;
    border-radius: 0;
    box-shadow: none;
  }
}

.info__input-label {
  display: block;
}
.info__form-input {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

/*# sourceMappingURL=main.css.map */
